@import url("https://fonts.googleapis.com/css?family=Montserrat:light, regular");
html {
  display: flex;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2d3c49;
  font-size: 16px;
}

img {
  max-width: 100%;
}

/* ---------->>> HEADER <<<-----------*/

header {
  display: flex; 
  width: 100%;
  height: 100px;
  line-height: 1em;
  text-transform: uppercase;
  border-bottom: 2px solid #767ff1;
}

.logo {
  padding-top: 10px;
  height: 75px;
}

.titles {
  flex: 1;
  text-align: right;
}

.title {
  font-size: 2.4em;
  letter-spacing: -0.05em;
  font-weight: 100;
  color: #064f71;
}

.sub-title {
  font-size: 1.2em;
  font-weight: 500;
  color: #064f71;
}

/* ---------->>> HERO <<<-----------*/

.banner {
  max-width: 100%;
  padding-top: 10px;
}

p {
  font-weight: 200;
  line-height: 1.4rem;
}

/* ---------->>> PROJECTS <<<-----------*/

.section-header {
  color: #064f71;
  font-weight: 500;
}

.flex-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.flex-item {
  width: calc(100%/3 - 1em);
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.project-name {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 500;
}

.project-name:hover {
  color: #0772a5;
}

.overlay {
  -webkit-filter: brightness(100%);
}

.overlay:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.flex-container a {
  text-decoration: none;  
  color: #2d3c49; 
  font-size: 1.1em;
}

/* ---------->>> FOOTER <<<-----------*/

footer {
  border-top: 1px solid #7d97ad;
  margin-top: 30px;
  font-size: 0.5em;
  text-align: center;
}

footer a {
  text-decoration: none;
}

/* ---------->>> ANIMATION <<<-----------*/

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

/* ---------->>> MEDIA QUERIES <<<-----------*/

@media screen and (max-width: 549px) {
  header {
    flex-direction: column;
    border: none;
    height: auto;
  }

  .titles, .section-header {
    text-align: center;

  } 

  .logo {
    margin: 0 auto;
  }
  
  .flex-item {
    width: calc(100%);
    margin: 0 0 40px 0;
  }
}

@media screen and (min-width: 550px) {
  .flex-item {
    width: calc(100%/2 - .1em);
    margin: 0 0 40px 0;
  }

  .project-name {
    font-size: 1em;
    line-height: 1.2em;
  }
}

@media screen and (min-width: 750px) {
  body {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  .flex-item {
    width: calc(100%/3 - .1em);
  }
}
