.App {
  text-align: center;
  height: 100vh;
  /* width: 600vw; */
  display: flex;
  font-size: 15px;
  flex: 1;
}

.sideBar {
  background: #444;
  color: #eee;
  padding-top:4em;
  overflow-y: scroll;
}

input#search {
  width: 0;
  padding: 12px 20px;
  padding-top: 6.5em;
  display: none;
}

.venueList {
  width: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #444;
  color: #eee;
}

.listItem {
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 3px;
  margin: 5px;
  cursor: pointer;
  width: 58%;
}

.listItem:hover {
  background-color: #1a4876;
}

.hamburgerCheckbox {
  position: absolute;
  opacity: 0;
}

.hamburgerLabel {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  display: block;
  width: 42px;
  height: 42px;
  font: 42px/42px fontawesome;
  text-align: center;
  color: #444;
  cursor: pointer;
}

.hamburgerCheckbox:checked~.hamburgerLabel:before {
  content: '\f00d';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 42px;
  height: 42px;
  font: 42px/42px fontawesome;
  text-align: center;
  color: #eee;

}
.main {
  flex: 1;
}

.hamburgerCheckbox:checked~.venueList {
  width: 400px;
  transition: all .3s;
}

.hamburgerCheckbox:checked~.sideBar {
  /* width: 100%; */
  /* min-width: 400px; */
}



.hamburgerCheckbox:checked~input#search {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  padding: 0px 10px;
  margin: 5px 0;
  display: inline;
  overflow: scroll;
}

.gm-style-mtc {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .hamburgerCheckbox:checked~.venueList {
    width: 600px;
    transition: all .3s;
  }
  .listItem {
    width: 100%;
  }
  .sideBar {
    overflow: hidden
  }
}